@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

.sidebar {
  background-color: #ede8e8;
  color: #000;
  padding: 50px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vw;
  min-width: 300px;
}
.sidebar__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__footer img {
  max-width: 50px;
  max-height: 50px;
}
.sidebar__footer-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  margin: 0px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.logo__img {
  max-width: 50px;
  max-height: 50px;
}
.workouts {
  margin: 0px 0px 50px 0px;
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.form {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.5s, transform 1ms;
}
.form__row {
  display: flex;
  align-items: center;
}
.form__label {
  flex: 0 0 40%;
  font-size: 17px;
  font-weight: 600;
}
.form__input {
  width: 100%;
  padding: 4px;
  font-family: inherit;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  transition: all 0.2s;
}
.form__input:focus {
  outline: none;
  background-color: #000;
}
.form__row-hidden {
  display: none;
}
.form__btn {
  display: none;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.hidden {
  display: none;
}

.workout {
  margin: 0px 0px 20px 0px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.workout__title {
  text-align: center;
  font-size: 19px;
  font-weight: 600;
}
.workout__details {
  display: flex;
  align-items: baseline;
}
.workout__icon {
  margin: 0px 5px 0px 0px;
  font-size: 20px;
}
.workout__value {
  margin: 0px 5px 0px 0px;
  font-size: 18px;
}
.workout__unit {
  font-size: 16px;
  color: #636cb8;
  font-weight: 600;
}

.workout-running {
  border-left: 5px solid #db259f;
}

.workout-cycling {
  border-left: 5px solid #6beb1c;
}

#map {
  height: 100%;
  width: 100%;
  background-color: #878282;
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: #0a151d;
  color: #fff;
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 16px;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: #0a151d;
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid #db259f;
}

.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid #6beb1c;
}

/* Delete UK flag */
.leaflet-control-attribution a {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #e8e8e8;
  overscroll-behavior-y: none;
  display: flex;
}

.clear__btn {
  margin: 0px 0px 30px 0px;
  align-self: center;
  max-width: 150px;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
}

a:link,
a:visited {
  color: #fcff45;
}/*# sourceMappingURL=main.css.map */